<div class="chat_container">
    <header>
        <h3 class="userName"></h3>
        <p class="typing">....Escribiendo</p>
    </header>
    <main>
        <div class="chat_message"></div>
    </main>
    <footer>
        <input type="text" placeholder="message" id="inputMessage">
        <button id="btnMessage">Enviar</button>
    </footer>
</div>